

#questions{
  border: 1px dotted black;
  width: 500px;
  float:left;
}

#q1, #q2, #q3, #q4, #q5, #q6{
  font-family: Arial, sans-serif;
  font-size:20px;
  color: #2E2E2E;
  margin-bottom: 10px;
}

#header {
  font-family: Arial, sans-serif;
  font-weight:normal;
  font-size:25px;
  line-height: 27px;
  margin: 24px 0 12px 0;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #a2a2a2;
}


label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color: #424242;
  vertical-align:top;
}

#submit {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;

  -webkit-transition-property: color, background-color;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  color: #ffffff;
  background-color: #c30b0a;

  text-transform:uppercase;
  height:35px;
  width: 95px;
  border: 1px solid #5E5E5E;
  border-radius:5px;
  margin-left: 100px;

  
 }

#submit:hover {
  color: #ffffff;
  background: #680f11;
  text-decoration: none;
}
#results{
  float:right;
}
